
.titleSection {
    color: #ffffff;
    background-color: #9A4EAE;
    padding: 1%;        
}

table {
    border-spacing: 50px 10px !important;
    padding: 5% 12% 5% 12% !important;
    width: 100% !important;
}

    table td {        
        border: 1px solid #bfbfbf;
        overflow: hidden;
    }

table td a {
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    padding: 7%;
    text-decoration: none;
    display: block;
            
}

/** {
    box-sizing: border-box;
}*/


.colStyle {
    box-sizing: border-box;
    padding: 3%;
    width: 25%;
    display: inline-block;
    float: left;
    border-right: 1px dashed black;
    height: 100vh;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.employeeName {
    background-color: #ffffff;
    color: #9A4EAE;
    border: 1px solid #bfbfbf;
    padding: 2px;
    text-align: center;
    margin-bottom: 25px;
}

.caption {
    background-color: #f0f0f0;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
}

.caption h4, i {
        margin-top: 15px;
        text-align: center;
    }

.caption a {
    color: #b3b3b3;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
}

.projectCaption {
    background-color: #ffffff;
    color: black;
    border: 1px solid #bfbfbf;
    /*border-left-color: coral;
    border-style: solid;*/
    margin-bottom: 20px;
    border-radius: 5px;
    padding-left: 3%
}

option:not(:checked){
    background-color: #ffffff;
}

option hover {
    background-color: #9A4EAE;
    color: #ffffff;
}

/*.dropItem hover {
    background-image: none;
    background-color: none !important;
}

.dropItem {
    background-color: #ffffff;
}*/

/*.vLine {
    border-left: 1px dashed #808080;
    height: auto;
    padding: 0;
    marging: 0;
}*/
.vl {
    border-left: 1px dashed #808080;
    height: 500px;
    float: left;
}

@media screen and (max-width: 600px) {
    table {
        display: block;
    }

    tr {
        position: absolute;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    .colStyle{
        width: 100%;
    }
}

/* Dropdown styles start */
.dropbtn {
    background-color: #ffffff;
    color: #000000;
    padding: 5px;
    font-size: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    border: #bfbfbf;
}

    .dropbtn:hover, .dropbtn:focus {
        background-color: #ffffff;
    }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 90px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
}

    .dropdown-content a {
        font-size: 12px;
        color: black;
        padding: 5px;
        text-decoration: none;
        display: block;
    }

.dropdown a:hover {
    background-color: #9A4EAE;
    color: #ffffff;
}

.show {
    display: block;
}

/* Dropdown styles end */