
.titleSection {
    color: #ffffff;
    background-color: #9A4EAE;
    padding: 1%;        
}

table {
border-spacing: 90px;
padding-top: 5% 10% 0 30%;
width: 100%;
}

table td {
    border: 1px solid black;
    overflow: hidden;
}

table td a {
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    padding: 5%;
    text-decoration: none;
    display: block;
            
}

/** {
    box-sizing: border-box;
}*/


.colStyle{
    box-sizing: border-box;
    padding: 3%;
    width:25%;
    display: inline-block;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.employeeName {
    background-color: #ffffff;
    color: #9A4EAE;
    border: 1px solid #808080;
    padding: 2px;
    text-align: center;
    margin-bottom: 25px;
}

.caption {
    background-color: #ffffff;
    color: black;
    border: 1px solid #808080;
    padding: 2px;
    margin-bottom: 25px;
}

@media screen and (max-width: 600px) {
    table {
        display: block;
    }

    tr {
        position: absolute;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }
}

