<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--connectionStrings  is used for connecting to the database-->
  <connectionStrings>
    <!--Update connection string here-->
    <add name="DBCS" connectionString="Server=localhost;Database=TaskBoard;Trusted_Connection=True; integrated security=SSPI" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <compilation debug="true"/>
  </system.web>
</configuration>