
<div class="titleSection">
    <h1>{{ProjectDetails.ProjectName}}</h1>
</div>


<!--<div style="width:80%; margin: 0 auto 0 auto;"> -->

    <!--<div class="row">--> 
        <!--<vl class="vLine"></vl>-->
        <div class="colStyle"  
             id="{{ProjectDetails.EmployeesWorkingOnProjectWithCorrespondingTasks.EmployeeId}}"
             ng-repeat="employeeDetails in ProjectDetails.EmployeesWorkingOnProjectWithCorrespondingTasks">
            <div class="vl" style="padding-right: 15px;"></div>
            <div ng-if="$last" class="employeeName">
                <h3><a href="#!/">Add New Member</a></h3>
            </div>
            <div ng-if="!$last" class="employeeName">
                <h3>{{employeeDetails.EmployeeName}}</h3>
            </div>

            <div ng-repeat="task in employeeDetails.EmployeeTasks">

                <div ng-if="$last" class="caption">
                    <i class="fal fa-plus-circle"  style="font-size:24px; font-weight: 200;"></i>
                    <p><a href="#!/">Create New Task</a></p>
                </div>
                <div ng-if="!$last" class="projectCaption">
                    <h5><strong>{{task.TaskTitle}}</strong></h5>
                    <p>{{task.TaskDescription}}</p>
                </div>

            </div>
        </div>

    <!--</div>-->

<!--</div>-->