<div class="titleSection" >
    <h1>Task Management</h1>
</div>

<div>
    <table>
        <tr  ng-repeat="project in projects" ng-switch on="$index % 3">
            <td ng-switch-when="0" >
                <a href="#!/ProjectPage/{{projects[$index].ProjectId}}">{{projects[$index].ProjectName}} <br /> {{projects[$index].ProjectDescription}} <br /> Total Members: {{projects[$index].EmployeesWorkingOnProject.length}}</a>
            </td>
            <td ng-switch-when="0">
                <span ng-show="projects[$index+1]">
                    <a href="#!/ProjectPage/{{projects[$index+1].ProjectId}}">{{projects[$index+1].ProjectName}} <br /> {{projects[$index+1].ProjectDescription}} <br /> Total Members: {{projects[$index+1].EmployeesWorkingOnProject.length}}</a>
                </span>
            </td>
            <td ng-switch-when="0">
                <span ng-show="projects[$index+2]">
                    <a href="#!/ProjectPage/{{projects[$index+2].ProjectId}}">{{projects[$index+2].ProjectName}} <br /> {{projects[$index+2].ProjectDescription}} <br /> Total Members: {{projects[$index+2].EmployeesWorkingOnProject.length}}</a>
                </span>
            </td>
        </tr>
    </table>
</div>